body {
    background-image: url(interior.jpg);
    backdrop-filter: blur(5rem);
    padding: 20px;
    min-height: 100vh;
}

div#addressform {
    display: none;
}
.card {
    background: rgba(255, 255, 255, 0.3);
}
.card li {
    background: rgba(255, 255, 255, 0);
}