body {
    color: #EBEBE6;
}

div#addressform {
    display: none;
}
.card {
    background: rgba(255, 255, 255, 0.3);
}
.card li {
    background: rgba(255, 255, 255, 0);
}
.page-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('interior.jpg');
    /* background-size:cover; */
    -webkit-filter: blur(2rem);
    -moz-filter: blur(2rem);
    -o-filter: blur(2rem);
    -ms-filter: blur(2rem);
    filter: blur(2rem);
    position: fixed;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    z-index: -1;
}
.modal-content {
    background-color: #9B9B96;
}
.close {
    cursor: pointer;
}
.alert-danger {
    padding: 0.2rem;
}
#content, #layout {
    min-width: 100%;
}
nav {
    min-width: 100%;
}
#brandname{
    padding: 1rem;
}
.blockbody {
    padding: 1rem;
}
.navbar{
    padding: 0%;
}
.card, .modal {
    color: black;
}
h2 {
    padding: 1rem 0rem;
}
.hr {
    padding-right: 6rem;
}
.active {
    border: 5px solid black;
    border-width: 0px 0px 2px 0px;
    border-color: black;
}
i{
    cursor: pointer;
}
a {
    color: #EBEBE6;
    text-decoration: none;
} 
a:hover, a:focus {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #EBEBE6;
}
#ordersphotosdiv {
    width: 15%;
}
/* .form-control {
    padding: 0.25rem 1rem !important;
    line-height: 1rem;
} */
form {
    color: #212529;
}

#registerform, #loginform {
    padding: 1rem 1rem;
    background-color: #9B9B96;
    border-radius: 0.5rem;
}
.helptext {
    color: #EBEBE6;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: ligaxer;
}
#location {
    border: 1px solid rgba(235,235,231, 0.25);
}
@media screen and (max-width: 576px) {
    #location {
        border-width: 1px 0px 0px 0px;
    }
}
@media screen and (min-width: 576px) {
    #location {
        border-width: 0px 0px 0px 1px;
    }
}
@media screen and (min-width: 992px) {
    #location {
        border-width: 0px 1px 0px 1px;
    }
}


input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
  padding-left: 1.5rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

input[type="radio"] + span:before,
input[type="checkbox"] + span:before,
input[type="radio"] + span:after,
input[type="checkbox"] + span:after {
    width: 1rem;
    height: 1rem;
    bottom: 15%;
    left: 0;
    line-height: 1rem;
    text-align: center;
    position: absolute;
}

/* Radios
----------------------------------------------------------------------------------------------------*/

input[type="radio"] + span:before {
    font-family: FontAwesome;
    content: "\f111";
    display: inline-block;
    vertical-align: baseline;
    color: #4B4B46;
}

input[type="radio"] + span:hover:before {
    color: black;
}

input[type="radio"]:checked + span:before {
    color: black;
    content: "\f140";
}

/* Checkboxes
----------------------------------------------------------------------------------------------------*/

input[type="checkbox"] + span:before {
    font-family: FontAwesome;
    content: "\f0c8";
    display: inline-block;
    padding-right: 3px;
    vertical-align: baseline;
    color: #4B4B46;
}
input[type="checkbox"] + span:hover:before {
    color: black;
    /* border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.4em #fafafa, inset 0 0 0 1em #eee; */
}

input[type="checkbox"]:checked + span:before {
    color: black;
    content: "\f14a";
}