body {
    color: #EBEBE6;
}

div#addressform {
    display: none;
}
.card {
    background: rgba(255, 255, 255, 0.3);
}
.card li {
    background: rgba(255, 255, 255, 0);
}
.page-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('interior.jpg');
    /* background-size:cover; */
    -webkit-filter: blur(2rem);
    -moz-filter: blur(2rem);
    -o-filter: blur(2rem);
    -ms-filter: blur(2rem);
    filter: blur(2rem);
    position: fixed;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    z-index: -1;
}
.modal-content {
    background-color: #9B9B96;
}
.close {
    cursor: pointer;
}
.alert-danger {
    padding: 0.2rem;
}
#content, #layout {
    min-width: 100%;
}
nav {
    min-width: 100%;
}
#brandname{
    padding: 1rem;
}
.blockbody {
    padding: 1rem;
}
.navbar{
    padding: 0%;
}
.card, .modal {
    color: black;
}
h2 {
    padding: 1rem 0rem;
}
.hr {
    padding-right: 6rem;
}
.active {
    border: 5px solid black;
    border-width: 0px 0px 2px 0px;
    border-color: black;
}
i{
    cursor: pointer;
}