{% extends 'orders/layout.html' %}
{% load tags %}
{% load static %}

{% block head %}
    <script type="module" src="{% static 'orders/cart.js' %}"></script>
{% endblock %}

{% block body %}
    <div>
        <div id="modal" class="modal">
        </div>
        {% for item, quantity in items %}
            <div>
                <div>
                    {{ item.getname }} 
                </div>
                <div>
                    {% for extra in item.toppings.all %}
                        {{ extra.name }}
                    {% endfor %}
                    {% for extra in item.addons.all %}
                        {{ extra.name }}
                    {% endfor %}
                </div>
                <div>Size : {{ item.size }}</div>
                <div>Quantity : {{ quantity }}</div>
                <div>Price : {% multiply item.price quantity %}</div>
                <button data-class="{{ item|classname }}" data-id="{{ item.id }}" class="removecart">Remove</button>
            </div>
            <hr>
        {% endfor %}
        <div>
            Total Price : {{ cart.price }}
        </div>
        <div>
            {% if items|length > 0 %}
                <button id="placeorder">Place Order({{items|length}} items)</button>
            {% endif %}
        </div>
    </div>
{% endblock %}