{% extends 'orders/layout.html' %}
{% load tags %}
{% load static %}

{% block title %}
    Cart
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static 'orders/cart.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="blockbody">
        <h2>Cart</h2>
        <hr>
        <div>
            <div class="modal fade" id="cartmodal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header py-0">
                            <h5 class="modal-title">Confirm your order</h5>
                            <span data-bs-dismiss="modal" class="close fs-1">&times;</span>
                        </div>
                        
                        <div class="modal-body">
                            <div class="fs-5">Total price for this order is ${{cart.price}}</div>
                            <form action="{% url 'cart' %}" method="post" id="orderform">
                                {% csrf_token %}
                                <label class="form-label mt-2">
                                    <select class="form-select" name="address" id="selectaddress" required>
                                        <option value="address" selected disabled>Select an address</option>
                                        {% for address in addresses %}
                                            <option value="address{{address.id}}">
                                                {{address.name}}, {{address.addressline}}, {{address.city}} - {{address.pin}}, {{address.state}}, {{address.country}}, Ph : {{address.phone}}
                                            </option>
                                        {% endfor %}
                                        <option value="addaddress" id="addaddress">Add another address</option>
                                    </select>
                                </label>
                                <div id="addressform">
                                    {% for field in form %}
                                    <div class="form-floating mb-3">
                                        {{field}}
                                        {{field.label_tag}}
                                    </div>
                                {% endfor %}
                                </div>
                                <h6>Choose a payment method : </h6>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="paymethod" value="0" required>UPI
                                    </label><br>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="paymethod" value="1" required>Wallets
                                    </label><br>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="paymethod" value="2" required>Credit / Debit / ATM Card
                                    </label><br>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="paymethod" value="3" required>Net Banking<br>
                                    </label><br>
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="paymethod" value="4" required>Cash on Delivery<br>
                                    </label><br>
                                </div>
                                <button class="d-none" type="submit" id="actualconfirmorder"></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-light" id="confirmorder">Confirm Order</button>
                        </div>
                    </div>
                </div>
            </div>
            {% for item, quantity in items %}
                <div class="d-flex flex-row justify-content-start ps-md-3 pe-md-3">
                    <div class="w-25 d-none d-sm-block">
                        <img class="rounded float-start w-100" src="{{item.getimage.url}}" alt="{{item.getname}}">
                    </div>
                        
                    <div class="px-3">
                        <div class="">
                            {{ item.getname }} 
                        </div>
                        <div class="fst-italic fw-lighter" style="font-size: 0.9rem;">
                            {% for extra in item.toppings.all %}
                                {{ extra.name }}
                                {% if not forloop.last %}
                                    ,
                                {% endif %}
                            {% endfor %}
                            {% for extra in item.addons.all %}
                                {{ extra.name }}
                            {% endfor %}
                        </div>
                        {% if item.getsize %}
                            <div>Size : {{ item.getsize }}</div>
                        {% endif %} 
                    </div>
                    <div class="ms-auto">
                        <div class="">${% multiply item.price quantity %}</div>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                            <button data-class="{{ item|classname }}" data-id="{{ item.id }}" type="button" class="btn btn-outline-light py-0 removecart">
                                {% if quantity > 1 %}
                                    <i class="fa fa-minus"></i>
                                {% else %}
                                    <i class="fa fa-trash-o"></i>
                                {% endif %}
                            </button>
                            <span class="btn btn-outline-light py-0">{{quantity}}</span>
                            <button data-class="{{ item|classname }}" data-id="{{ item.id }}" type="button" class="btn btn-outline-light py-0 addcart">
                                <i class="fa fa-plus"></i>
                            </button>
                          </div>
                    </div>
                </div>
                <hr>
            {% empty %}
                <div class="text-center">
                    <i class="fa fa-meh-o p-5" style="font-size: 10rem; cursor: default;"></i>
                    <div>
                        <a href="{% url 'menu' %}">
                            Add something to cart
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="text-end p-3">
                {% if items|length > 0 %}
                    <button id="placeorder" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#cartmodal">
                        Place Order (<span style="color: #BE0027;">${{ cart.price }}</span>)
                    </button>
                {% endif %}
            </div>
        </div>    
    </div>
{% endblock %}