{% load static %}

<!DOCTYPE html>
<html>
    <head>
       <title>Pizza</title>
       <link rel="stylesheet" href="{% static 'orders/styles.css' %}">
       {% block head %}
       {% endblock %}
    </head>
    <body>
        <div>
            <h1>Pizza</h1>
            <a href="{% url 'index' %}">Explore Menu</a>
            {% if user.is_authenticated %}
            <a href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'orders' %}">Orders</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
        <hr>
        <div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>