{% extends "orders/layout.html" %}
{%  load static %}

{% block title %}
    Menu
{% endblock %}

{% block head %}
    <script src="{% static 'orders/menu.js' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'orders/menu.css' %}" type="text/css"> -->
{% endblock %}

{%  block body %}
    <div id="block">
        <div class="blockbody">
            <h2>Menu</h2>
        </div>
        <div class="modal fade" id="menumodal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header py-0">
                        <h5 class="modal-title" id="itemname"></h5>
                        <span class="close fs-1" data-bs-dismiss="modal">×</span>
                    </div>
                    <div class="modal-body">
                        <form id="cartform" method="post">
                            <!-- {% csrf_token %} -->
                            
                            <!-- {% if sizeoptions %}
                                {% if missingsize == null %}
                                    <div>Select Size</div>
                                    <label>
                                        <input type="radio" name="size" value="small" id="small">
                                        Small
                                    </label>
                                    <br>
                                    <label>
                                        <input type="radio" name="size" value="large" id="large">
                                        Large
                                    </label>
                                {% elif missingsize == 'small' %}
                                    <input type="hidden" name="size" value="large" id="large">
                                {% elif missingsize == 'large' %}
                                    <input type="hidden" name="size" value="small" id="small">
                                {% endif %}
                            {% endif %}
                            <br> -->
                            <!-- {% if extrasoption %}
                                <div>
                                    Select {{extrastype}}<br>
                                    {% if extrastype == 'Toppings' %}
                                        select {{extrasamount}} items
                                    {% endif %}
                                </div>
                                
                                {% for extra in extras %}
                                    <label>
                                        <input type="checkbox" class="{{extrastype}}" name="{{extrastype}}" value="{{extrastype}}{{extra.id}}">
                                        {{ extra.name }}
                                    </label>
                                    <span>{% if extra.price != 0 %}{{extra.price}}{% endif %}</span>
                                    <br>
                                {% endfor %}
                            {% endif %} -->
                            <!-- <div id="priceconfirmation"></div>
                            <div id="msg"></div>
                            <input type="submit" value="Save"> -->
                        </form>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <span id="priceconfirmation" class="fs-5"></span>
                        <span id="msg" class="alert alert-danger"></span>
                        <button id="formsubmit" type="submit" class="btn btn-outline-success text-right ms-auto align-self-center">Save to cart</button>
                    </div>
                </div>            
            </div>
        </div>

        <nav class="navbar navbar-expand-md sticky-top" id="menu-navbar" style="background-color: #9B9B96">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menunavbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-light justify-content-around" id="menunavbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="#rpizza">&nbsp;&nbsp;Regular Pizza&nbsp;&nbsp;</a>
                        <div class="vr"></div>
                        <a class="nav-link" href="#spizza">&nbsp;&nbsp;Sicillian Pizza&nbsp;&nbsp;</a>
                        <div class="vr"></div>
                        <a class="nav-link" href="#sub">&nbsp;&nbsp;Sub&nbsp;&nbsp;</a>
                        <div class="vr"></div>
                        <a class="nav-link" href="#pasta">&nbsp;&nbsp;Pasta&nbsp;&nbsp;</a>
                        <div class="vr"></div>
                        <a class="nav-link" href="#salad">&nbsp;&nbsp;Salad&nbsp;&nbsp;</a>
                        <div class="vr"></div>
                        <a class="nav-link" href="#platter">&nbsp;&nbsp;Dinner Platter&nbsp;&nbsp;</a>
                    </div>
                </div> 
            </div>
        </nav>

        <div>
        </div>

        <div data-bs-spy="scroll" data-bs-target="#menu-navbar"  data-bs-smooth-scroll="false" class="blockbody" tabindex="0">
            <div id="rpizza">
                <h2>Regular Pizza</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for item in rpizzas %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{{item.image.url}}" class="card-img-top" alt="{{item.image}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.getname}}</h5>
                                    <p class="card-text fw-lighter lh-sm fst-italic">{{item.description}}</p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{% if item.smallprice != 0 %}Small : ${{item.smallprice}}{% endif %}</li>
                                        <li class="list-group-item">{% if item.largeprice != 0 %}Large : ${{item.largeprice}}{% endif %}</li>
                                    </ul>
                                    <button data-item="pizza" class="btn btn-outline-light addbutton float-end" id="addpizza{{item.id}}" data-bs-toggle="modal" data-bs-target="#menumodal">Add to Cart</button>
                                </div>
                            </div>
                        </div>           
                    {% endfor %}
                </div>
            </div>
            <div id="spizza">
                <h2>Sicilian Pizza</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for item in spizzas %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{{item.image.url}}" class="card-img-top" alt="{{item.image}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.getname}}</h5>
                                    <p class="card-text fw-lighter lh-sm fst-italic">{{item.description}}</p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{% if item.smallprice != 0 %}Small : ${{item.smallprice}}{% endif %}</li>
                                        <li class="list-group-item">{% if item.largeprice != 0 %}Large : ${{item.largeprice}}{% endif %}</li>
                                    </ul>
                                    <button data-item="pizza" class="btn btn-outline-light addbutton float-end" id="addpizza{{item.id}}" data-bs-toggle="modal" data-bs-target="#menumodal">Add to Cart</button>
                                </div>
                            </div>
                        </div>           
                    {% endfor %}
                </div>
            </div>
            
            <div id="sub">
                <h2>Subs</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for item in subs %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{{item.image.url}}" class="card-img-top" alt="{{item.image}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.getname}}</h5>
                                    <p class="card-text fw-lighter lh-sm fst-italic">{{item.description}}</p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{% if item.smallprice != 0 %}Small : ${{item.smallprice}}{% endif %}</li>
                                        <li class="list-group-item">{% if item.largeprice != 0 %}Large : ${{item.largeprice}}{% endif %}</li>
                                    </ul>
                                    <button data-item="sub" class="btn btn-outline-light addbutton float-end" id="addsub{{item.id}}" data-bs-toggle="modal" data-bs-target="#menumodal">Add to Cart</button>
                                </div>
                            </div>
                        </div>           
                    {% endfor %}
                </div>
            </div>
            <div id="pasta">
                <h2>Pasta</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for item in pastas %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{{item.image.url}}" class="card-img-top" alt="{{item.image}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.getname}}</h5>
                                    <p class="card-text fw-lighter lh-sm fst-italic">{{item.description}}</p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Price : ${{item.price}}</li>
                                    </ul>
                                    <button data-item="pasta" class="btn btn-outline-light addbutton float-end" id="addpasta{{item.id}}" data-bs-toggle="modal" data-bs-target="#menumodal">Add to Cart</button>
                                </div>
                            </div>
                        </div>           
                    {% endfor %}
                </div>
            </div>
            <div id="salad">
                <h2>Salad</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for item in salads %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{{item.image.url}}" class="card-img-top" alt="{{item.image}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.getname}}</h5>
                                    <p class="card-text fw-lighter lh-sm fst-italic">{{item.description}}</p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Price : ${{item.price}}</li>
                                    </ul>
                                    <button data-item="salad" class="btn btn-outline-light addbutton float-end" id="addsalad{{item.id}}" data-bs-toggle="modal" data-bs-target="#menumodal">Add to Cart</button>
                                </div>
                            </div>
                        </div>           
                    {% endfor %}
                </div>
            </div>
            <div id="platter">
                <h2>Dinner Platter</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    {% for item in platters %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="{{item.image.url}}" class="card-img-top" alt="{{item.image}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.getname}}</h5>
                                    <p class="card-text fw-lighter lh-sm fst-italic">{{item.description}}</p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{% if item.smallprice != 0 %}Small : ${{item.smallprice}}{% endif %}</li>
                                        <li class="list-group-item">{% if item.largeprice != 0 %}Large : ${{item.largeprice}}{% endif %}</li>
                                    </ul>
                                    <button data-item="platter" class="btn btn-outline-light addbutton float-end" id="addplatter{{item.id}}" data-bs-toggle="modal" data-bs-target="#menumodal">Add to Cart</button>
                                </div>
                            </div>
                        </div>           
                    {% endfor %}
                </div>
            </div>
        </div>    
    </div>
{% endblock %}