{% extends "orders/layout.html" %}
{% load static %}

{% block title %}
    Account
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static 'orders/my_account.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="modal fade" id="addressmodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h5 class="modal-header py-0">
                    Address
                    <span data-bs-dismiss="modal" class="close fs-1">&times;</span>
                </h5>
                <div class="modal-body">
                    <!-- <span class="mb-3 alert alert-danger" id="addressmsg"></span> -->
                    <form action="{% url 'my_account' %}" method="post" class="addressform-imp" id="addaddressform">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-floating mb-3">
                                {{field}}
                                {{field.label_tag}}
                            </div>
                        {% endfor %}
                        <input class="d-none" id="actualaddaddresssave" type="submit">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-light" id="deleteaddress"><i class="fa fa-trash-o"></i></button>
                    <button class="btn btn-outline-light" id="addaddresssave">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="accountmodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h5 class="modal-header py-0">
                    Personal Info
                    <span data-bs-dismiss="modal" class="close fs-1">&times;</span>
                </h5>
                <div class="modal-body">
                    <span class="alert alert-danger" id="accountmsg"></span>
                    <form id="editaccountform">
                        <div class="form-floating mb-3 mt-3">
                            <input placeholder="username" class="form-control" id="username" type="text" name="username" value="{{user.username}}" required>
                            <label>Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input placeholder="first_name" class="form-control" id="first_name" type="text" name="first_name" value="{{user.first_name}}" required>
                            <label>First Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input placeholder="last_name" class="form-control" id="last_name" type="text" name="last_name" value="{{user.last_name}}">
                            <label>Last Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input placeholder="email" class="form-control" id="email" type="email" name="email" value="{{user.email}}" required>
                            <label>Email Address</label>
                        </div>
                        <div>
                            <button class="d-none" id="actualsave" type="submit"></button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="save" type="button" class="btn btn-outline-light">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="blockbody">
        <h2>
            <i class="fa fa-user"></i>
            My Account
        </h2>
        <hr>
        <div>
            <h4>
                Personal Information &nbsp;
                <i class="fa fa-pencil" id="edit" data-bs-toggle="modal" data-bs-target="#accountmodal"></i>
            </h4>
            <div class="container-md d-flex">
                <div class="w-25">Username</div> 
                <div class="pe-3">:</div> 
                <div>{{user.username}}</div>
            </div>
            <div class="container-md d-flex">
                <div class="w-25">Name</div> 
                <div class="pe-3">:</div> 
                <div>{{user.first_name}} {{user.last_name}}</div>
            </div>
            <div class="container-md d-flex">
                <div class="w-25">Email Address</div> 
                <div class="pe-3">:</div> 
                <div>{{user.email}}</div>
            </div>
        </div>
        <hr>
        <div>
            <h4>
                Saved Addresses &nbsp;
                <i class="fa fa-plus" id="addaddress" data-bs-toggle="modal" data-bs-target="#addressmodal"></i>
            </h4>
            <div class="container-md">
                <div class="row row-cols-1 row-cols-lg-2 justify-content-between">
                    {% for address in addresses %}
                        <div class="">
                            {{address.name}}
                            <i class="fa fa-pencil px-2 editaddress" data-id="{{address.id}}" data-bs-toggle="modal" data-bs-target="#addressmodal"></i><br>
                            {{address.addressline}}<br>
                            {{address.city}} - {{address.pin}}<br>
                            {{address.state}}, {{address.country}}<br>
                            Ph : {{address.phone}}<br>
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>    
    </div>
{% endblock %}