{% extends "orders/layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block body %}
    <div>
        <h4>Personal Information</h4>
        <div>Username : {{user.username}}</div>
        <div>Name : {{user.first_name}} {{user.last_name}}</div>
        <div>Email Address : {{user.email}}</div>
    </div>
    <div>
        <h4>Saved Addresses</h4>
        {% for address in addresses %}
        {{address.name}}<br>
        {{address.addressline}}<br>
        {{address.city}} - {{address.pin}}<br>
        {{address.state}}, {{address.country}}<br>
        Ph : {{address.phone}}<br>
        <hr>
        {% endfor %}
    </div>
{% endblock %}