{% extends "orders/layout.html" %}
{% load tags %}

{% block title %}
    Orders
{% endblock %}

{% block body %}
    <div class="blockbody">
        <h2>Orders</h2>
        <hr>
        <div>
            {% for items, order in allitems %}
                <a href="{% url 'order' order.id %}">
                    <div>
                        {% for item, quantity in items %}
                            {{item.getname}} × {{quantity}} {% multiply item.price quantity %}
                            <br>
                        {% endfor %}
                        {% if order.completed_time %}
                            Completed
                        {% else %}
                            Pending
                        {% endif %}
                        {{order.price}}
                        <br>Placed on : {{order.placedtime|date:"d F Y H:i"}}
                        <hr>
                    </div>
                </a>
            {% endfor %}
        </div>    
    </div>
{% endblock %}