{% extends "orders/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-floating mb-3">
                {{field}}
                {{field.label_tag}}
                {{field.errors}}
                {{field.help_text}}
            </div>
        {% endfor %}
        <input type="submit" value="Register">
    </form>
{% endblock %}